:root{
    --main-color:#FFD4D4;
    --secondray-color:#FFFFE8;
    --third-color:#AACB73;
}

@font-face{
    font-family: "Creattion";

    src: url(../fonts/Creattion\ Demo.otf);
}
@font-face{
    font-family: "Teko";

    src: url(../fonts/Teko-Regular.ttf);
}
body{
    background-color: var(--main-color);
    
}

::selection{
    background-color: var(--main-color);
    color: white;
}

    /* Scrollbar style  */
::-webkit-scrollbar {
    width: 0.7rem;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,128,77,0.6);
	border-radius: 10px;
    

  } 

  ::-webkit-scrollbar-thumb {
    background: var(--secondray-color); 
    border-radius: 10px;
 
  }

    
    
    
/* Underline title  */
h1{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
  
}
 h1::after{
    content: '';
    border: var(--third-color) 2px solid;
    position: absolute;
    border-left: none;
    border-right: none;
    border-top:none ;
    left: 0;
    right: 0;
    width: 200px;
    margin: auto;
    bottom: 0;
   


}

p{

    font-size: 35px;
}
.content{
    position: relative;

    background-color: var(--secondray-color);
   
}
#quote{

    font-family: 'Teko'
}
#author{

    font-family: 'Creattion';
    background-color: var(--main-color);
    
}
.ct-btn{
    
    background-color: #CDE990;
    border: none;
    padding: 15px 25px;
    transition: 0.5s all;
    font-family: Georgia, 'Times New Roman', Times, serif;


}
.ct-btn:hover{

    background-color: var(--third-color);
}
.content::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50px;
    width: 0;
    border-top: 30px solid var(--secondray-color)  ;
    border-left: 30px solid transparent ;
    border-right: 30px solid transparent ;
   
}
#authorAr{
    
    background-color: var(--main-color);
}
.player {
    width: 90%;
    max-width: 300px;
    height: 430px;
    overflow: hidden;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .header {
    text-align: center;
    margin: 0px auto;
    padding: 5px;
    border-bottom: 1px solid #f5f5f5;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  
  .header span {
    color: #ff688f;
  }
  
  .img {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 50%;
    background: linear-gradient(120deg, #ffa17f, #ff688f);
    overflow: hidden;
    margin-top: 15px;
  }
  
  .img img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    object-fit: cover;
    z-index: 9999;
  }
  
  .img img.play {
    animation: 15s rotate linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .details {
    text-align: center;
  }
  
  .details p {
    color: #777;
    font-size: 15px;
    margin-top: 5px;
  }
  
  .action {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .action button {
    background: #fff;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.028);
    border-radius: 50%;
    padding: 10px;
    font-size: 28px;
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    margin: 10px;
    border: 2px solid #f8f8f8;
    cursor: pointer;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .action button.play {
    background: linear-gradient(135deg, #ffa17f, #ff688f);
    color: #fff;
  }
  
  .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 10px auto;
    width: 90%;
    color: #777;
  }
  
  #progress {
    margin: 0px auto;
    display: block;
    width: 90%;
    -webkit-appearance: none;
    height: 6px;
    background: #f7f7f7;
  }
  
  #progress::-webkit-slider-thumb {
    background: red;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background: linear-gradient(135deg, #ffa17f, #ff688f);
    transition: 0.2s ease-in-out;
  }
  