:root{
    --main-color:#FFD4D4;
    --secondray-color:#FFFFE8;
    --third-color:#AACB73;
}

@font-face{
    font-family: "Creattion";

    src: url(../fonts/Creattion\ Demo.otf);
}
@font-face{
    font-family: "Teko";

    src: url(../fonts/Teko-Regular.ttf);
}
body{
    background-color: var(--main-color);
    
}

::selection{
    background-color: var(--main-color);
    color: white;
}

    /* Scrollbar style  */
::-webkit-scrollbar {
    width: 0.7rem;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,128,77,0.6);
	border-radius: 10px;
    

  } 

  ::-webkit-scrollbar-thumb {
    background: var(--secondray-color); 
    border-radius: 10px;
 
  }

    
    
    
/* Underline title  */
h1{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
  
}
 h1::after{
    content: '';
    border: var(--third-color) 2px solid;
    position: absolute;
    border-left: none;
    border-right: none;
    border-top:none ;
    left: 0;
    right: 0;
    width: 200px;
    margin: auto;
    bottom: 0;
   


}

p{

    font-size: 35px;
}
.content{
    position: relative;

    background-color: var(--secondray-color);
   
}
#quote{

    font-family: 'Teko'
}
#author{

    font-family: 'Creattion';
    background-color: var(--main-color);
    
}
.ct-btn{
    
    background-color: #CDE990;
    border: none;
    padding: 15px 25px;
    transition: 0.5s all;
    font-family: Georgia, 'Times New Roman', Times, serif;


}
.ct-btn:hover{

    background-color: var(--third-color);
}
.content::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50px;
    width: 0;
    border-top: 30px solid var(--secondray-color)  ;
    border-left: 30px solid transparent ;
    border-right: 30px solid transparent ;
   
}
#authorAr{
    
    background-color: var(--main-color);
}
